<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DMSkin.Core" version="3.0.0.1000" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="3.0.1-develop356" targetFramework="net472" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.1-develop356" targetFramework="net472" />
  <package id="Vlc.DotNet.Forms" version="3.0.1-develop356" targetFramework="net472" />
</packages>